body {
  background-color: #fffef3;
}

a {
	color: #fbfdff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent
}

#pretraga {
  
  padding: 0.5%;
  margin-left:1%;
  margin-top:1%;
}

#filtriranje{
  padding:3%;
  margin-left:7%;
  
}
#nazivApartmana{
  font-size: 25px;
}


