body {
  background-color: #fffef3;
}

a {
	color: #fbfdff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent
}

#pretraga {
  background-color:lightgray;
  padding: 0.5%;
  margin: 2%;
}
#pretrazi{
  margin-left:2%;
}
#filtriranje{
  border-style:solid;
  border-color:lightgray;
  width:17%;
  padding:3%;
  
}
#filtrirajDugme{
  text-align:  justify;
}
