body {
  background-color: #fffef3;
}

a {
	color: #fbfdff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent
}

#pretraga {
  background-color:lightsalmon;
  padding: 0.5%;
  margin: 2%;
}
#pretrazi{
  margin-left:2%;
}
